--extra-index-url https://download.pytorch.org/whl/cu116
numpy
pandas
matplotlib
seaborn
spacy
langdetect
polyglot
tqdm
googletrans==3.1.0a0 
ipywidgets
pyspark>=3.4.1
mlflow>=2.7.0
wordcloud
pandarallel
datasets
bitsandbytes==0.41.2
bitsandbytes-cuda116==0.26.0.post2
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
transformers==4.35.2
sentencepiece
fairseq
fastBPE

